# Remove this on an actual project
src/
src/generated
src/vendor
src/var/cache
src/var/composer_home
src/var/page_cache
src/var/view_preprocessed
src/var/log
src/var/report
src/var/tmp
src/generated
src/vendor
!src/pub/static/.htaccess
src/pub/static
src/var/cache
src/var/composer_home
src/var/page_cache
src/var/view_preprocessed
src/var/log
src/var/report
src/var/tmp
src/pub/media
.docker
src/src/.buildpath
src/src/.cache
src/src/.metadata
src/src/.project
src/src/.settings
src/src/.vscode
src/src/atlassian*
src/src/nbproject
src/src/robots.txt
src/pub/robots.txt
src/sitemap
src/sitemap.xml
src/pub/sitemap
src/pub/sitemap.xml
src/.idea
src/.gitattributes
src/app/config_sandbox
src/app/code/Magento/TestModule*
src/lib/internal/flex/uploader/.actionScriptProperties
src/lib/internal/flex/uploader/.flexProperties
src/lib/internal/flex/uploader/.project
src/lib/internal/flex/uploader/.settings
src/lib/internal/flex/varien/.actionScriptProperties
src/lib/internal/flex/varien/.flexLibProperties
src/lib/internal/flex/varien/.project
src/lib/internal/flex/varien/.settings
src/node_modules
src/.grunt
src/Gruntfile.js
src/package.json
src/.php_cs
src/.php_cs.cache
src/.php-cs-fixer.php
src/.php-cs-fixer.cache
src/grunt-config.json
src/pub/media/*
src/pub/static/*
src/dev/tests/acceptance/tests/_data/adobe-base-image-long-name-image-long-name-image-long-name-image-long-name-image-long-name-image-long-name-image-long-name-image-long-name-image-long-name.jpg
src/var/*
src/vendor/*
src/generated/*
.DS_Store